<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>GroceryStore.com</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$(function() {
	$("#Item_Name").autocomplete({
		source: "itemNameAutocomplete",
		minLength: 1,
		select: function(event, ui) {
			this.value = ui.item.label;
			$("#Item_ID").val(ui.item.value);
			return false;
		}
	});
});
</script>

</head>

<body>
	<div th:replace="fragments/topnav::navbar"/></div>
	<div th:replace="fragments/search::searchbar"/></div>
	</br>
	Your Grocery is:
	<p th:text="${groceryDTO}"/>
	
	<form action="#" th:action="@{/savegrocery}" th:object="${groceryDTO}" method="GET">	
		
		<div class="input-group mb-3">
	  		<span class="input-group-text" id="inputGroup-sizing-default">Item Name</span>
	  		<input id="Item_Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="*{itemName}" th:field="*{itemName}"/>
		</div>
		
		<div class="input-group mb-3">
	  		<span class="input-group-text" id="inputGroup-sizing-default">Name</span>
	  		<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" th:field="*{name}"/>
		</div>
	
		<div class="input-group mb-3">
	  		<span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
	  		<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="*{description}" th:field="*{description}"/>
		</div>

	
		<div class="input-group mb-3">
	  		<span class="input-group-text" id="inputGroup-sizing-default">Item ID</span>
	  		<input id="Item_ID" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="*{itemId}" th:field="*{itemId}"/>
  		
		</div>
		
		<input id="Item_ID" type="hidden" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="*{itemId}" th:field="*{itemId}"/>
	  		
	  		
		<button name="submit" type="submit" value="0">Check out</button>
	</form>

</body>
</html>